 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

 /*Reset de propriedades*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
}

.container-grid {
    width: 80%;
    margin: 0 auto;
    /* background-color: salmon; */
}

header{
    background-color: gray;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
    /* border: 2px solid white; */
}

header h1 #logoux{
font-weight: 600;
font-style: italic;
}

header nav a {
    color: white;
    text-decoration: none;
    /* border: 2px solid white; */

}

header nav{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

main .colunas-flex {
    display: flex;
    justify-content: space-between;
}

main .coluna1 {
    width: 75%;
    /* background-color: red; */
}

main .coluna1 #titulo-cores{
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

main .coluna1 #text1{
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

main .coluna1 #text2{
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

main .coluna1 #text3{
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

main .coluna2{
    width: 20%;
}

main .coluna1 #lapis{
    width: 100%;
}

/* Diagramação */

/* h2 {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    padding-left: 40px;
    padding-right: 10px;
    margin-top: 20px;
}

body{
    padding-right: 40px;
} */